<html><head><title>Digital Blueprint</title>
<style>
  .rm__col {
    border-bottom: 2px solid grey !important;
  }
  .gradient-line{
    display: none; 
  }
  h2{
    color: grey !important;
  }
</style>
</head><body><Script>window.rmConfig=[];(function(b,a,c){rmConfig.contObj=b.querySelector(a);rmConfig.sheetId=c;a=b.createElement("script");a.src="/roadmap/roadmap.js";b.head.appendChild(a)})(document,"body","{{ sheetId }}");</script></body></html>