<html>
  <head>
    <title>Create a new roadmap</title>
  </head>
  <body>
    <h1>Create a new roadmap</h1>
    <form method="POST" action="/create-roadmap">
      <input name="siteId" id="siteId">
      <input type="submit" value="create roadmap">
    </form>
    <div>
      <a href="/blueprint/{{ urlLink }}">Click to go to roadmap</a>
    </div>
  </body>
</html>